# Dependencies - The big one causing 1000+ files
node_modules/

# Environment variables (Sensitive info)
.env
.env.local

# Build folders
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor-specific
.vscode/
.idea/
.DS_Store